<!-- This file will be added to the <head> tag -->
<!-- 这个文件会添加到 <head> 中 -->

    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-138XXCD8GV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-138XXCD8GV');
</script>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3353966736614286"
crossorigin="anonymous"></script>